---
layout: default
pagination:
  enabled: true
---

<div class="home">
  <section class="home-top">
      <div class="container">
          <h2 class="main-title animate__animated animate__bounce">
              <small class="main-sm">zzing's Issue Ticket</small>
              찡찡이의 이슈티켓
          </h2>
          <p class="main-sub animate__animated animate__fadeIn"> - 하루에 한번씩 한걸음 더 발전하는 개발자 되기</p>
      </div>
  </section>

  <section class="about container mb3">
      <h3 class="section-title mb2"> - ABOUT - </h3>
      <p class="about-box mb1"><strong>[ 에러가 발생했나요? 이슈 티켓 발급 해주세요 😁 ]</strong>
          개발할 때에는 잘 되던 놈이 QA 서버에서도 정상적으로 작동되던 놈이 운영 서버에만 올라가면 문제가 생기곤 했습니다.<br/>
          모든건 사소한 이유에서부터 시작되는거겠죠 그때 다른 사람들과 공유하고 의견을 나누다보면 언젠가는 정답을 발견하게 되더라구요.<br/><br/>
          나의 공간은 이렇게 탄생하였습니다.<br/>....</p>
      <div class="btn-wrap">
          <a href="{{ '/about' | prepend: site.baseurl }}" class="btn">View More</a>
      </div>
  </section>
  
  <section class="recent container">
      <h3 class="section-title"> - RECENT POSTS - </h3>
      <ul class="row post-list">
        {% for post in site.posts limit:3 %}
          {% include post-card.html %}
        {% endfor %}
      </ul>
      <div class="btn-wrap">
          <a href="{{ '/posts' | prepend: site.baseurl }}" class="btn">View More</a>
      </div>
  </section>
</div>
  <!-- {% include pagination.html %} -->
</div>
