<header class="header">
  <div class="container">
      <div class="hd-wrap">
          <h1 class="logo">
              <a href="/">
                  <img src="/assets/images/logo_wh.png" alt="Logo"/>
              </a>
          </h1>
          <nav class="main-nav">
              <a href="{{ '/about' | prepend: site.baseurl }}">ABOUT</a>
              <a href="{{ '/posts' | prepend: site.baseurl }}">POSTS</a>
              <a href="#">CONTACT</a>
          </nav>
      </div>
  </div>
</header>
