<aside class="contact">
  <div class="contact-container">
      <div class="contact-body">
          <div class="contact-content">
              <div class="contact-img"></div>
              <h5 class="contact-name">Yeseul Jin</h5>
              <ul class="contact-list">
                  <li>
                      <a href="mailto:jinys7750@naver.com"><img src="/assets/images/ico-mail.png" alt=""/>jinys7750@naver.com</a>
                  </li>
                  <li><img src="/assets/images/ico-phone.png" alt=""/>010-8810-6038</li>
                  <li><img src="/assets/images/ico-pin.png" alt=""/>서울특별시 신림동</li>
                  <li>
                      <a href="https://github.com/zzingysss"><img src="/assets/images/ico-github.png" alt=""/>github.com/zzingysss</a>
                  </li>
              </ul>
          </div>
          <footer class="contact-ft">
              <div class="btn-wrap">
                  <button class="btn" onclick="closeContact();">확인</button>
              </div>
          </footer>
      </div>
  </div>
</aside>