---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>

  {% include head.html %}

</head>
<body id="{% if page.title %}{{ page.title | slugify }}{% else %}home{% endif %}" class="{{ page.layout | downcase }}-layout">
  <div class="wrap">
    {% include header.html %}

    {{ content }}
    
  {% include footer.html %}
  </div>

  <script>
    hdFixed();
    document.querySelector('.wrap').classList.add('active');
    window.onscroll = function() {
        hdFixed();
    };
    function hdFixed() {
        const scrollY = window.pageYOffset;
        if(scrollY > 20) {
            document.querySelector('.header').classList.add("active");
        }
        else {
            document.querySelector('.header').classList.remove("active");
        }
    }
</script>
</body>
</html>
